@import "variables";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.row1 {
  width: percentage(1/4);
  background: $colorCol1Bg;
}

.row2 {
  width: percentage(1.5/4);
}

.row3 {
  background: #f9f9f9;
  width: percentage(1.5/4);
}
