@import "variables";

.nav {
  position: relative !important;
  z-index: 10;
  height: $navHeight;
  width: 100%;
  background-color: #eee;
}

.app {
  height: calc(100vh - #{$navHeight});
  position: relative;
  overflow: hidden;
}
