$navHeight: 64px;
$majorGrid: 10px;

$colorCol1Bg: #f9f9f9;

$border1: solid 1px rgba(black, 0.08);

@mixin dropState {
  position: relative;

  &.isDroppable {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
      background: rgba(teal, 0.1);
      border-radius: 5px;
      z-index: 10;
    }
    &.isOver {
      &::after {
        background: rgba(teal, 0.5);
      }
    }
  }
}
