@import "variables";

.folderItem {
  display: flex;
  background: $colorCol1Bg;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: $majorGrid * 0.25;

  @include dropState;

  .left {
    display: flex;
    justify-content: center;
  }
  .name {
    margin-left: $majorGrid * 1;

    &.isActive {
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
        background: rgba(black, 0.07);
        border-radius: 5px;
      }
    }

    &.isProject {
      font-size: 18px;
      font-weight: bold;
    }
  }
  margin-bottom: $majorGrid * 1;
}
