@import "variables";

.container {
  &.isShowingKanban {
    display: flex;
    justify-content: center;

    .groupHolderWrapper {
      width: 100%;
      max-width: 300px;

      &:not(:last-child) {
        margin-right: $majorGrid * 2;
      }
    }
  }
}

.groupHolder {
  margin-bottom: $majorGrid * 4;
  padding: $majorGrid;

  .groupTitle {
    font-size: $majorGrid * 2;
    margin-bottom: $majorGrid;
    display: flex;

    .delete {
      padding: 0 $majorGrid;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .title {
      flex: 1;
    }
    .right {
      display: flex;
      align-items: center;
      border: $border1;
      border-left: none;
    }
    .sortArrows {
      border-left: $border1;
      display: flex;
      flex-direction: column;
    }
    .sortArrow {
      cursor: pointer;
    }
  }
}

.holderInnerWrapper {
  @include dropState;
}

.emptyState {
  background: $colorCol1Bg;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: $border1;
}

.card {
  margin-bottom: $majorGrid;

  .breadCrumbs {
    display: flex;
    font-size: 12px;
    background: #f1f1f1;
    padding: $majorGrid/2 $majorGrid/2;
    flex-wrap: wrap;

    .carrat {
      margin: 0 $majorGrid/2;
    }

    .link {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .middle {
    display: flex;
  }

  .name {
    flex: 1;
    display: flex;
    align-items: center;
    border-right: $border1;
    border-left: $border1;
    padding: $majorGrid;
    cursor: pointer;
  }

  .breadCrumbs {
  }

  // .bottom {
  //   display: flex;
  // }
}
